@import "../../styles/colors.scss";

.container {
  position: fixed;
  z-index: 10;

  bottom: 2rem;
  align-self: flex-end;

  height: 2.8rem;

  padding: 0.8rem 2rem;
  border: none;
  border-radius: 0.6rem;

  font-size: 1rem;
  font-weight: bold;

  transition: color 0.2s;
  transition: background 0.2s;

  &.light {
    color: $neutral-900;
    border: 1px solid $neutral-900;
    background: $neutral-100;
  }

  &.dark {
    color: $neutral-100;
    border: 1px solid $neutral-100;
    background: $neutral-900;
  }
}
